/* src/App.css */
*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}
body {
  font-family: 'Arial', sans-serif;
  background-color: #000003;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: full;
}

.App {
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

input[type="text"], input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.color-input-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.color-input-label label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

.qr-code-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.qr-code {
  max-width: 100%;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
}

.download-button, .copy-button {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  color: #007bff;
  font-size: 14px;
  cursor: pointer;
}

.download-button:hover, .copy-button:hover {
  text-decoration: underline;
}
